In [13]:
from math import log, sqrt, pi, exp
from scipy.stats import norm
from datetime import datetime, date
import numpy as np
import pandas as pd
from pandas import DataFrame

In [14]:
def d1(S,K,T,r,sigma):
    return(log(S/K)+(r+sigma**2/2.)*T)/(sigma*sqrt(T))
def d2(S,K,T,r,sigma):
    return d1(S,K,T,r,sigma)-sigma*sqrt(T)


def bs_call(S,K,T,r,sigma):
    return S*norm.cdf(d1(S,K,T,r,sigma))-K*exp(-r*T)*norm.cdf(d2(S,K,T,r,sigma))

def bs_put(S,K,T,r,sigma):
    return K*exp(-r*T)-S*bs_call(S,K,T,r,sigma)

In [15]:
S = np.linspace(10, 500, num = 1000)
T = np.linspace(30/365, 3, num= 1000)
r = np.linspace(0.01, 0.03, num=100)
sigma = np.linspace(0.05, 0.9, num=100)
l = [S, T, r, sigma]

In [16]:
param_List = []
for i in range(300000):
    params = []
    for p in l:
        params.append(np.random.choice(p))
    
    #compute a reasonable strike price
    t = np.random.choice(T)
    q = np.random.choice(np.linspace(-0.03, 0.03, num = 1000))
    params.append(params[0] * np.exp(t * q))
    
    param_List.append(params)

In [17]:
data = param_List
for i in range(len(data)):
    S = data[i][0]
    K = data[i][-1]
    T = data[i][1]
    r = data[i][2]
    sigma = data[i][3]
    data[i].append(bs_call(S, K, T, r, sigma))

In [19]:
data[0]

[282.7127127127127,
 0.7481179809946934,
 0.015656565656565657,
 0.8227272727272728,
 273.19239053164205,
 83.33647181834117]

In [20]:
df = pd.DataFrame(data)
df.columns = ["S","T", "r", "sigma", "K",'call_price']
df.to_csv("realbetterSimulation.csv")

In [21]:
df

                 S         T         r     sigma           K  call_price
0       282.712713  0.748118  0.015657  0.822727  273.192391   83.336472
1        89.949950  0.818215  0.022525  0.762626   95.871483   22.801272
2       151.751752  2.442141  0.019899  0.187374  154.963047   19.569793
3       427.407407  2.240610  0.029192  0.745455  437.937959  185.905972
4       173.333333  1.463697  0.026970  0.436364  162.553920   43.488878
...            ...       ...       ...       ...         ...         ...
299995  479.399399  0.943807  0.023131  0.410606  495.866401   73.397892
299996  471.061061  1.335184  0.018081  0.831313  469.759418  177.820352
299997  113.983984  0.800691  0.020505  0.367677  118.247969   13.905482
299998   46.296296  1.747007  0.029192  0.161616   44.549462    6.074606
299999   44.824825  1.232959  0.012424  0.754040   44.789562   14.790918

[300000 rows x 6 columns]