In [1]:
from keras.models import Sequential
from keras.layers import Dense, Activation, LeakyReLU, ELU, BatchNormalization
from keras import backend
from keras.callbacks import TensorBoard
from keras.optimizers import Adam, SGD
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("betterSimulation.csv").iloc[:,1:]

In [3]:
data

                 S           K         T         r     sigma    call_price
0       216.496496  352.958616  0.099716  0.010808  0.427778  1.396496e-03
1       414.654655  396.103120  0.169814  0.014444  0.402020  3.761203e+01
2       202.762763  365.089082  1.139496  0.020505  0.298990  1.309998e+00
3       279.769770  472.707389  0.318771  0.030000  0.058586  4.587326e-55
4       361.681682  310.186496  2.967872  0.012222  0.376263  1.186831e+02
...            ...         ...       ...       ...       ...           ...
299995  411.711712  521.932835  0.169814  0.028384  0.693939  1.545020e+01
299996  395.525526   52.570999  0.461887  0.028182  0.814141  3.436366e+02
299997  405.335335  111.441671  2.161751  0.012626  0.513636  2.993454e+02
299998   52.672673  114.923977  2.795549  0.025152  0.736869  1.468384e+01
299999  486.756757   82.727699  1.247563  0.020505  0.161616  4.061185e+02

[300000 rows x 6 columns]

In [3]:
call_X_train, call_X_test, call_y_train, call_y_test = train_test_split(data.iloc[:,:-1], data.iloc[:,-1], test_size=0.33, random_state=42)

In [15]:
model = Sequential()

In [16]:
model.add(Dense(200, input_dim=call_X_train.shape[1]))
model.add(BatchNormalization())
model.add(LeakyReLU())
model.add(Dense(200))
model.add(BatchNormalization())
model.add(ELU())
model.add(Dense(1, activation='relu'))
model.compile(loss='mse', optimizer=Adam(learning_rate=0.001))

In [17]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 200)               1200

 batch_normalization_2 (Batc  (None, 200)              800
 hNormalization)

 leaky_re_lu_1 (LeakyReLU)   (None, 200)               0

 dense_4 (Dense)             (None, 200)               40200

 batch_normalization_3 (Batc  (None, 200)              800
 hNormalization)

 elu_1 (ELU)                 (None, 200)               0

 dense_5 (Dense)             (None, 1)                 201

=================================================================
Total params: 43,201
Trainable params: 42,401
Non-trainable params: 800
_________________________________________________________________

In [18]:
history = model.fit(call_X_train, call_y_train,
                    batch_size=1024, epochs=20,
                    validation_split = 0.01,
                    callbacks=[TensorBoard()],
                    verbose=1)

Epoch 1/20

/Users/ezreal/opt/anaconda3/envs/deep_learning/lib/python3.10/site-packages/keras/engine/data_adapter.py:1699: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  return t[start:end]

195/195 [==============================] - 3s 10ms/step - loss: 16589.9375 - val_loss: 11583.2773
Epoch 2/20
195/195 [==============================] - 2s 8ms/step - loss: 7508.3833 - val_loss: 4723.6030
Epoch 3/20
195/195 [==============================] - 2s 9ms/step - loss: 1916.9911 - val_loss: 739.9663
Epoch 4/20
195/195 [==============================] - 2s 9ms/step - loss: 295.0060 - val_loss: 134.6748
Epoch 5/20
195/195 [==============================] - 2s 9ms/step - loss: 97.8040 - val_loss: 112.3755
Epoch 6/20
195/195 [==============================] - 2s 9ms/step - loss: 89.8208 - val_loss: 267.1862
Epoch 7/20
195/195 [==============================] - 2s 8ms/step - loss: 74.9435 - val_loss: 330.2074
Epoch 8/20
195/195 [==============================] - 2s 9ms/step - loss: 62.4155 - val_loss: 105.1928
Epoch 9/20
195/195 [==============================] - 2s 9ms/step - loss: 62.3862 - val_loss: 171.9729
Epoch 10/20
195/195 [==============================] - 2s 9ms/step - loss: 54.9085 - val_loss: 264.5521
Epoch 11/20
195/195 [==============================] - 2s 8ms/step - loss: 52.8506 - val_loss: 144.0974
Epoch 12/20
195/195 [==============================] - 2s 9ms/step - loss: 48.2694 - val_loss: 91.6697
Epoch 13/20
195/195 [==============================] - 2s 8ms/step - loss: 53.2720 - val_loss: 63.0225
Epoch 14/20
195/195 [==============================] - 2s 8ms/step - loss: 50.6489 - val_loss: 492.9611
Epoch 15/20
195/195 [==============================] - 2s 9ms/step - loss: 50.8667 - val_loss: 101.0907
Epoch 16/20
195/195 [==============================] - 2s 8ms/step - loss: 46.5822 - val_loss: 39.4550
Epoch 17/20
195/195 [==============================] - 2s 8ms/step - loss: 44.5512 - val_loss: 47.7474
Epoch 18/20
195/195 [==============================] - 2s 9ms/step - loss: 39.5126 - val_loss: 247.9909
Epoch 19/20
195/195 [==============================] - 2s 8ms/step - loss: 42.1430 - val_loss: 166.5053
Epoch 20/20
195/195 [==============================] - 2s 9ms/step - loss: 42.3922 - val_loss: 60.5312

In [19]:
call_y_pred = model.predict(call_X_test)

3094/3094 [==============================] - 4s 1ms/step

In [20]:
pd.DataFrame(call_y_pred)

                0
0      351.210236
1       43.511566
2      175.397629
3      152.870956
4      275.071625
...           ...
98995   31.513504
98996    0.000000
98997    0.000000
98998   58.889664
98999  144.771912

[99000 rows x 1 columns]

In [11]:
pd.DataFrame(call_y_test)

          call_price
4941    3.397571e+02
51775   4.680649e+01
115253  1.721534e+02
299321  1.473695e+02
173570  2.630937e+02
...              ...
18305   3.440506e+01
218340  3.657108e-03
114216  1.357445e-08
172565  6.294543e+01
249214  1.385692e+02

[99000 rows x 1 columns]