In [1]:
from math import log, sqrt, pi, exp
from scipy.stats import norm
from datetime import datetime, date
import numpy as np
import pandas as pd
from pandas import DataFrame
from numba import jit

In [2]:
def generate_heston_paths(S, T, r, kappa, theta, v_0, rho, xi, 
                          steps, Npaths, return_vol=False):
    dt = T/steps
    size = (Npaths, steps)
    prices = np.zeros(size)
    sigs = np.zeros(size)
    S_t = S
    v_t = v_0
    for t in range(steps):
        WT = np.random.multivariate_normal(np.array([0,0]), 
                                           cov = np.array([[1,rho],
                                                          [rho,1]]), 
                                           size=Npaths) * np.sqrt(dt) 
        
        S_t = S_t*(np.exp( (r- 0.5*v_t)*dt+ np.sqrt(v_t) *WT[:,0] ) ) 
        v_t = np.abs(v_t + kappa*(theta-v_t)*dt + xi*np.sqrt(v_t)*WT[:,1])
        prices[:, t] = S_t
        sigs[:, t] = v_t
    
    
    return prices

In [3]:
kappa = 4
theta = 0.02
v_0 =  0.02
xi = 0.9
r = 0.02
S = 100
T = 1
rho = 0.9

In [24]:
def heston_call(S, K, T, r, kappa, theta, v_0, rho, xi):
    prices_pos = generate_heston_paths(S, T, r, kappa, theta,
                                    v_0, rho, xi, steps=1000, Npaths=10000,
                                    return_vol=False)[:,-1]
    print(prices_pos)
    return np.max([np.mean(prices_pos) - K,0]) * np.exp(-r*T)

In [5]:
heston_call(S, S, T, r, kappa, theta, v_0, rho, xi)

2.0549935465188933

In [6]:
S = np.linspace(10, 500, num = 1000)
T = np.linspace(1/12, 3, num= 1000)
r = np.linspace(0.01, 0.1, num=100)
v_0 = np.linspace(0.05, 0.9, num=100)
theta = np.linspace(0.01, 0.8, num = 100)
kappa = np.linspace(0, 10, num = 100)
rho = np.linspace(-0.99, 0.99, num = 1000)
# xi < 2 * theta * kappa
l = [S, T, r, v_0, theta, kappa, rho]

In [7]:
param_List = []
for i in range(30000):
    params = []
    for p in l:
        params.append(np.random.choice(p))
    param_List.append(params)

In [8]:
np.random.seed(42)
for params in param_List:
    S = params[0]
    T = params[1]
    t = np.random.choice(np.linspace(1/12, T, num= 1000))
    q = np.random.choice(np.linspace(-0.2, 0.2, num= 1000))
    K = np.exp(q * t) * S
    params.insert(1, K)
    theta = params[-2]
    kappa = params[-1]
    xi = np.random.choice(np.linspace(0, np.sqrt(2 * theta * kappa), num= 1000))
    params.append(xi)

In [9]:
param_List[2]

[308.2182182182182,
 263.02093440621024,
 1.143143143143143,
 0.0590909090909091,
 0.21313131313131312,
 0.1775757575757576,
 1.7171717171717171,
 0.47997275087483515]

In [10]:
from tqdm import tqdm

In [11]:
for params in tqdm(param_List):
    S = params[0]
    K = params[1]
    T = params[2]
    r = params[3]
    v_0 = params[4]
    theta = params[5]
    kappa = params[6]
    xi = params[7]
    call_price = heston_call(S, K, T, r, kappa, theta, v_0, rho, xi)
    params.append(call_price)

100%|███████████████████████████████████| 30000/30000 [4:32:20<00:00,  1.84it/s]

In [12]:
f()

NameError: name 'f' is not defined

In [13]:
import pandas as pd
df = pd.DataFrame(param_List)

In [15]:
df.columns = ["S", "K", "T", "r", "v_0", "theta", "kappa", "xi", "call_price"]

In [20]:
df[df["call_price"] < 0]

,S,K,T,r,v_0,theta,kappa,xi,call_price
7,446.536537,470.380893,1.376710,0.021818,0.771212,0.432929,8.080808,0.908196,-8.861511
12,334.704705,410.004942,1.873040,0.023636,0.324747,0.265354,1.010101,0.410424,-55.306096
15,114.964965,127.014372,0.900817,0.090000,0.204545,0.440909,3.030303,0.309264,-2.825425
16,426.916917,507.914214,2.424842,0.050000,0.839899,0.401010,7.070707,2.281238,-33.309720
17,321.461461,354.812663,1.102269,0.037273,0.805556,0.393030,7.373737,1.364026,-15.294175
...,...,...,...,...,...,...,...,...,...
29975,396.996997,456.928080,2.509510,0.040909,0.092929,0.488788,9.191919,1.431302,-30.463971
29978,475.475475,477.091448,2.319736,0.019091,0.084343,0.800000,5.454545,2.022693,-4.361013
29991,412.202202,418.286966,0.191358,0.025455,0.333333,0.097778,1.010101,0.015126,-2.608748
29993,30.600601,38.624334,2.953287,0.072727,0.762626,0.736162,4.848485,1.393403,-0.436839
29999,301.351351,443.378383,2.874458,0.045455,0.539394,0.592525,1.717172,0.315575,-89.908626

In [31]:
heston_call(446.536537, 470.380893, 1.37671, 0.021818, 8.080808, 0.432929, 0.771212, 0.9, 0.908196)

[274.04451838 258.34073453 434.87694001 ... 195.35852034 199.63080755
 110.47637069]
455.04167197953547
-15.33922102046455

-14.885326885147416

In [30]:
def heston_call(S, K, T, r, kappa, theta, v_0, rho, xi):
    prices_pos = generate_heston_paths(S, T, r, kappa, theta,
                                    v_0, rho, xi, steps=1000, Npaths=10000,
                                    return_vol=False)[:,-1]
    print(prices_pos)
    print(np.mean(prices_pos))
    print(np.max(np.mean(prices_pos) - K,0))
    return np.max(np.mean(prices_pos) - K,0) * np.exp(-r*T)

In [33]:
np.max([455.04167197953547 - 470.380893, 0])

0.0